<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title> Book Info </title>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body class="bg-info">
  <ul class="list-group">
    
  
    <li class="list-group-item list-group-item-success"><a href="/samsung"><h3>Samsung</h3></a></li>
    <li class="list-group-item list-group-item-danger"><a href="/apple"><h3>Apple</h3></a></li>
    <li class="list-group-item list-group-item-warning"><a href="/oneplus"><h3>OnePlus</h3></a></li>
    <li class="list-group-item list-group-item-warning"><a href="/book"><h3>Book</h3></a></li>
    
  </ul>
</ul>
</body>
</html>